<div class="wrapper">
    <div class="background">
    </div>

    <div class="column-one">
        <p>reach me via email :
        </p>
        <a class="email-a" href="mailto:Raushan.raj0118@gmail.com">
            <p class="email">raushan.raj0118@gmail.com</p>
        </a>
        <br>
        <p>also available here :</p>
        <div class="hero">
            <ul class="social-links">
                <li><a href="https://github.com/rau0118" target="_blank"><i class="fab fa-github"></i></a></li>
                <li><a href="https://www.linkedin.com/in/raushan-kumar-460aa3184/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                <li><a href="https://wa.me/9620608312" target="_blank"><i class="fab fa-whatsapp"></i></a></li>
            </ul>
        </div>
        <div>
        </div>
    </div>
</div>