<div class="row wrapper">
    <div class="background"></div>
    <div class="pulsate"><div #elem class="parallax"></div> </div>
    <div #elem1 class="circle shadow" [style.top]="top" [style.left]="left" ></div>
    <div class="column-one">
        <p class="pre-name"><span role="img" aria-label="wave">👋</span>
            hey! my
            name is</p>
        <div class="name">
            <p class="p-name">Raushan kumar<span class="p-name2">.</span></p>
        </div>
        <div class="name">
            <p class="p-first">I am very much passionate about learning and implementing new technologies and also I am a quick learner and ready for new challenges. Try to optimize my skill for the IT industry and delivered soon.</p>
            <p class="p-second">Currently Working at Starmark Software as the role of  Full-Stack Developer.</p>
        </div>
    </div>
    <div class="column-two">
    </div>
</div>